*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font: 16px/1.25 Arial, serif;
  position: relative;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vp;
}

.centered {
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input {
  border-style: none;
}
input:focus {
  outline: none;
}

.header {
  width: 100%;
  min-height: 233px;
}

.panel-header {
  padding-top: 42px;
  display: block;
}

.logo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-list {
  gap: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #000;
}

.menu-list {
  min-width: 312px;
  display: block;
  padding-right: 96px;
  text-align: left;
}
.menu-list .part-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
}

.part-input > svg {
  position: absolute;
  z-index: 2;
  left: 1267px;
  top: 183px;
}
.part-input .inp-header {
  position: relative;
  left: -13px;
  top: -6px;
  padding-left: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 13px;
  line-height: 16px;
  color: #9D9D9D;
  background: #F5F5F5;
  border-radius: 2px;
  border-color: #F5F5F5;
  border-style: none;
}

.icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
}

.head-container {
  background: #F0F0F0;
  max-height: 39px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.logo-part {
  gap: 9px;
}

.icons {
  display: block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
}
.icons:hover {
  background: #000;
}
.icons:hover svg {
  fill: #fff;
}

.link-part {
  padding-left: 383px;
}

.footer-item {
  background: rgb(253, 237, 237);
}

.footer-bottom {
  height: 84px;
  background: rgb(247, 227, 221);
}

.hero-block {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  overflow: hidden;
}

.description {
  position: absolute;
  left: 360px;
  top: 594px;
}
.description > h1 {
  color: #fff;
  font-weight: 600;
  font-size: 80px;
  line-height: 100px;
  padding-bottom: 64px;
}
.description > h4 {
  max-width: 845px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  padding-left: 139px;
}

.title-item {
  padding-top: 159px;
  padding-bottom: 88px;
  font-size: 35px;
  line-height: 62px;
  text-align: center;
  max-width: 749px;
}

.btn-botton {
  padding: 17px 0;
  max-width: 179px;
  max-height: 54px;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-botton:hover {
  background: #000;
}
.btn-botton:hover .btn {
  color: #fff;
}

.post-catalog {
  padding-bottom: 241px;
}

.holder-btn {
  background: #ffd3d3;
  max-height: 592px;
}
.holder-btn .text-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 134px;
  padding-bottom: 82px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.holder-btn .text-part h4 {
  max-width: 682px;
  text-align: center;
}
.holder-btn .btn-block {
  gap: 39px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 158px;
}
.holder-btn .btn-block .btn {
  display: block;
  padding-right: 133px;
  width: 326px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

h3 {
  font-size: 35px;
  line-height: 62px;
  padding-bottom: 33px;
}

h4 {
  font-size: 18px;
  line-height: 22px;
}

.product {
  padding-top: 162px;
}
.product .product-text {
  text-align: center;
  padding-bottom: 105px;
}

.item-grup {
  padding-bottom: 46px;
}

.list-grup {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 120px;
}

.magasin {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 118px;
}
.magasin .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 22%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
          flex: 0 0 22%;
}
.magasin img {
  max-width: 100%;
  display: block;
  height: auto;
}

.price {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 25px;
  gap: 20px;
}

.btn-botton {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.choice-block {
  padding-top: 152px;
  padding-bottom: 155px;
}

.shop-kids .shop-img {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  overflow: hidden;
}
.shop-kids .txt-img {
  position: absolute;
  bottom: 1679px;
  left: 565px;
  z-index: 5;
}
.shop-kids .shop-btn {
  position: absolute;
  bottom: 1457px;
  left: 594px;
  z-index: 5;
}

.shop-sale .shop-img {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  overflow: hidden;
}
.shop-sale .txt-img {
  position: absolute;
  bottom: 1615px;
  left: 1017px;
  z-index: 5;
}
.shop-sale .shop-btn {
  position: absolute;
  bottom: 1457px;
  left: 1009px;
  z-index: 5;
}

.shop-men .shop-img {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  overflow: hidden;
}
.shop-men .txt-img {
  position: absolute;
  bottom: 1157px;
  left: 693px;
  z-index: 5;
}
.shop-men .shop-btn {
  position: absolute;
  bottom: 933px;
  left: 705px;
  z-index: 5;
}

.shop-accessories .shop-img {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  overflow: hidden;
}
.shop-accessories .txt-img {
  position: absolute;
  bottom: 596px;
  left: 653px;
  z-index: 5;
}
.shop-accessories .shop-btn {
  position: absolute;
  bottom: 308px;
  left: 653px;
  z-index: 5;
}/*# sourceMappingURL=all.css.map */