*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font: 16px/1.25 Avenir, serif;
  position: relative;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vp;
}
@media screen and (max-width: 390px) {
  .wrapper {
    max-width: 100%;
    -webkit-box-flex: 0,;
        -ms-flex: 0, 0, 100%;
            flex: 0, 0, 100%;
  }
}

.centered {
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input {
  border-style: none;
}
input:focus {
  outline: none;
}

.header {
  width: 100%;
  min-height: 233px;
}

.panel-header {
  padding-top: 42px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.item-list {
  gap: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #000;
}

.part-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.part-input > svg {
  position: absolute;
  z-index: 2;
  left: 1259px;
  top: 83px;
}
.part-input .inp-header {
  position: relative;
  left: -13px;
  top: -6px;
  padding-left: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 13px;
  line-height: 16px;
  color: #9D9D9D;
  background: #F5F5F5;
  border-radius: 2px;
  border-color: #F5F5F5;
  border-style: none;
}

.icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
}

.head-container {
  background: #F0F0F0;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (max-width: 390px) {
  .head-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #000;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 95px;
  }
}

.logo-part {
  gap: 9px;
}

.icons {
  display: block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
}
.icons:hover {
  background: #000;
  color: #fff;
}

.link-part {
  padding-right: 288 px;
}
.link-part a {
  position: absolute;
}
@media screen and (max-width: 390px) {
  .link-part a {
    color: #fff;
  }
}
.link-part ::before {
  content: url(/img/vectormenu1.svg);
  position: relative;
  right: 10px;
  top: 6px;
}
@media screen and (max-width: 390px) {
  .link-part ::before {
    display: none;
  }
}

@media screen and (max-width: 390px) {
  .header-block {
    display: none;
  }
}

.footer-item {
  background: rgb(253, 237, 237);
}

.footer-block {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 108px;
  padding-bottom: 174px;
}

.footer-bottom {
  height: 84px;
  background: rgb(247, 227, 221);
}

.mail-part input {
  min-width: 339px;
  height: 57px;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 38px;
  color: #979797;
  padding-left: 22px;
}

.txt-part {
  padding-bottom: 34px;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 38px;
}

.footer-btn {
  background: #150808;
  -webkit-box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 193px;
  height: 58px;
}
.footer-btn span {
  color: #fff;
}
.footer-btn:hover {
  background: #fff;
  border: 1px solid #000;
}
.footer-btn:hover span {
  color: #000;
}

.info_column li {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 38px;
}
.info_column li h4 {
  padding-bottom: 30px;
}

.hero-block {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  overflow: hidden;
}

.description {
  position: absolute;
  left: 360px;
  top: 594px;
}
.description > h1 {
  color: #fff;
  font-weight: 600;
  font-size: 80px;
  line-height: 100px;
  padding-bottom: 64px;
}
.description > h4 {
  max-width: 845px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  padding-left: 139px;
}

.title-item {
  padding-top: 159px;
  padding-bottom: 88px;
  font-size: 35px;
  line-height: 62px;
  text-align: center;
  max-width: 749px;
}

.btn-botton {
  padding: 17px 0;
  max-width: 179px;
  max-height: 54px;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-botton:hover {
  background: #000;
}
.btn-botton:hover .btn {
  color: #fff;
}

.post-catalog {
  padding-bottom: 241px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.post-home .picture-box {
  position: relative;
}
.post-home .btn-botton {
  position: absolute;
  top: 1567px;
  left: 310px;
  z-index: 5;
}

.post-bags .picture-box {
  position: relative;
}
.post-bags .btn-botton {
  position: absolute;
  top: 1873px;
  left: 310px;
  z-index: 5;
}

.post-women .picture-box {
  position: relative;
}
.post-women .btn-botton {
  position: absolute;
  top: 1854px;
  left: 762px;
  z-index: 5;
}

.post-accessories .picture-box {
  position: relative;
}
.post-accessories .btn-botton {
  position: absolute;
  top: 1564px;
  right: 313px;
  z-index: 5;
}

.post-shoes .picture-box {
  position: relative;
}
.post-shoes .btn-botton {
  position: absolute;
  top: 1873px;
  right: 311px;
  z-index: 5;
}

.post-befor {
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.post-after {
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.post-catalog .btn-botton {
  width: 179px;
}

.holder-btn {
  background: #ffd3d3;
  max-height: 592px;
}
.holder-btn .text-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 134px;
  padding-bottom: 82px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.holder-btn .text-part h4 {
  max-width: 682px;
  text-align: center;
}
.holder-btn .btn-block {
  gap: 39px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 158px;
}
.holder-btn .btn-block .btn {
  display: block;
  padding-right: 133px;
  width: 326px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

h3 {
  font-size: 35px;
  line-height: 62px;
  padding-bottom: 33px;
}

h4 {
  font-size: 18px;
  line-height: 22px;
}

.product {
  padding-top: 162px;
}
.product .product-text {
  text-align: center;
  padding-bottom: 105px;
}

.item-grup {
  padding-bottom: 46px;
}

.list-grup {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 120px;
}

.magasin {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 118px;
}
.magasin .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 22%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
          flex: 0 0 22%;
}
.magasin img {
  max-width: 100%;
  display: block;
  height: auto;
}

.price {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 25px;
  gap: 20px;
}

.btn-center {
  margin: 0 auto;
  display: block;
  background: #000;
}
.btn-center span {
  color: #fff;
}
.btn-center:hover {
  background: #fff;
}
.btn-center:hover span {
  color: #000;
}

.choice-block {
  padding-top: 152px;
  padding-bottom: 155px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.shop-kids .shop-img {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  overflow: hidden;
}
.shop-kids .txt-img {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
  position: absolute;
  width: 515px;
  height: 99px;
  left: 399px;
  top: 4142px;
  z-index: 5;
}
.shop-kids .shop-btn {
  position: absolute;
  width: 179px;
  height: 54px;
  left: 551px;
  top: 4261px;
  z-index: 5;
}

.shop-sale .shop-img {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  overflow: hidden;
}
.shop-sale .txt-img {
  position: absolute;
  width: 187px;
  height: 97px;
  left: 1111px;
  top: 4095px;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  z-index: 5;
}
.shop-sale .shop-btn {
  position: absolute;
  width: 179px;
  height: 54px;
  left: 1117px;
  top: 4261px;
  z-index: 5;
}

.shop-men .shop-img {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  overflow: hidden;
}
.shop-men .txt-img {
  position: absolute;
  width: 712px;
  height: 56px;
  left: 471px;
  top: 4605px;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FEFEFE;
  z-index: 5;
}
.shop-men .shop-btn {
  position: absolute;
  width: 179px;
  height: 54px;
  left: 737px;
  top: 4795px;
  z-index: 5;
}

.shop-accessories .shop-img {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  overflow: hidden;
}
.shop-accessories .txt-img {
  position: absolute;
  width: 712px;
  height: 56px;
  left: 477px;
  top: 5156px;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FEFEFE;
  z-index: 5;
}
.shop-accessories .shop-btn {
  position: absolute;
  width: 179px;
  height: 54px;
  left: 745px;
  top: 5338px;
  z-index: 5;
}/*# sourceMappingURL=all.css.map */