*, ::after, ::before {
  box-sizing: border-box;
}
body{
  margin: 0;
  font:16px/1.25 Avenir,serif;
  position: relative;
}
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vp;
  @media screen and (max-width: 390px){
    max-width: 100%;
    flex: 0, 0, 100%;

  }
}
.centered{
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.d-flex{
  display:flex;
  flex-wrap: wrap;
}
ul, ol{
  list-style: none;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
input{
  border-style: none;
  &:focus{
    outline: none;
  }
}