@import
'_param',
'_header',
'_footer';


.hero_block{
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   object-fit: cover;
   position: relative;
   overflow: hidden;
}
.description{
   position: absolute;
   left: 360px;
   top: 594px;
   >h1{
      color: #fff;
      font-weight: 600;
      font-size: 80px;
      line-height: 100px;
      padding-bottom: 64px;
   }
   >h4{
      max-width: 845px;
      color: #fff;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      padding-left: 139px;
   }
}
.title_item{
   padding-top: 159px;
   padding-bottom: 88px;
   font-size: 35px;
   line-height: 62px;
   text-align: center;
   max-width: 749px;
}
.btn_botton{
   padding: 17px 0;
   max-width: 179px;
   max-height: 54px;
   text-align: center;
   background: #fff;
   box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}
.post_catalog{
   padding-bottom: 241px;
}
.holder_btn{
   background: #ffd3d3;
   max-height: 592px;
   .text_part{
      display: flex;
      flex-direction: column;
      padding-top: 134px;
      padding-bottom: 82px;
      justify-content: center;
      align-items: center;
      h3{
         font-size: 35px;
         line-height: 62px;
         padding-bottom: 33px;
      }
      h4{
         max-width: 652px;
         text-align: center;
      }
   }
   .btn_block{
      gap: 39px;  
      justify-content: center;
      padding-bottom: 158px;
      .btn{
         display: block;
         // padding-left: 10px;
         padding-right: 133px;
         width: 326px;
         text-align: center;
         font-size: 16px;
         line-height: 20px; 
      }
   }
}