@import
'_param',
'_header',
'_footer';


.hero-block{
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   object-fit: cover;
   position: relative;
   overflow: hidden;
}
.description{
   position: absolute;
   left: 360px;
   top: 594px;
   >h1{
      color: #fff;
      font-weight: 600;
      font-size: 80px;
      line-height: 100px;
      padding-bottom: 64px;
   }
   >h4{
      max-width: 845px;
      color: #fff;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      padding-left: 139px;
   }
}
.title-item{
   padding-top: 159px;
   padding-bottom: 88px;
   font-size: 35px;
   line-height: 62px;
   text-align: center;
   max-width: 749px;
}
.btn-botton{
   padding: 17px 0;
   max-width: 179px;
   max-height: 54px;
   text-align: center;
   background: #fff;
   box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
   &:hover{
      background: #000;
      .btn{
         color:#fff;
      }
   }
}
.post-catalog{
   padding-bottom: 241px;
   align-items: center;
   justify-content: center;
}
.post-home{
   .picture-box{
      position: relative;
   }
   .btn-botton{
      position: absolute;
      top: 1567px;
      left: 310px;
      z-index: 5;
   }
}
.post-bags{
   .picture-box{
      position: relative;
   }
   .btn-botton{
      position: absolute;
      top: 1873px;
      left: 310px;
      z-index: 5;
   }
}
.post-women{
   .picture-box{
      position: relative;
   }
   .btn-botton{
      position: absolute;
      top: 1854px;
      left: 762px;
      z-index: 5;
   }
}
.post-accessories{
   .picture-box{
      position: relative;
   }
   .btn-botton{
      position: absolute;
      top: 1564px;
      right: 313px;
      z-index: 5;
   }
}
.post-shoes{
   .picture-box{
      position: relative;
   }
   .btn-botton{
      position: absolute;
      top: 1873px;
      right: 311px;
      z-index: 5;
   }
}
.post-befor{
   padding-right: 30px;
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.post-after{
   padding-left: 30px;
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.post-catalog{
   .btn-botton{
      width: 179px;
   }
}
.holder-btn{
   background: #ffd3d3;
   max-height: 592px;
   .text-part{
      display: flex;
      flex-direction: column;
      padding-top: 134px;
      padding-bottom: 82px;
      justify-content: center;
      align-items: center;
      h4{
         max-width: 682px;
         text-align: center;
      }
   }
   .btn-block{
      gap: 39px;  
      justify-content: center;
      padding-bottom: 158px;
      .btn{
         display: block;
         // padding-left: 10px;
         padding-right: 133px;
         width: 326px;
         text-align: center;
         font-size: 16px;
         line-height: 20px; 
         
      }
   }
}
h3{
   font-size: 35px;
   line-height: 62px;
   padding-bottom: 33px;
}
h4{
   font-size: 18px;
   line-height: 22px;
}
.product{
   padding-top: 162px;
   .product-text{
      text-align: center;
      padding-bottom: 105px;
   }
}
.item-grup{
   padding-bottom: 46px;
}
.list-grup{
   justify-content: center;
   gap: 120px;
}
.magasin{
   flex-direction: row;
   width: 100%;
   justify-content: center;
   padding-bottom: 118px;
     .picture{
      display: flex;
      flex-wrap: wrap;
      max-width: 22%;
      flex: 0 0 22%;
   }
   img{
      max-width: 100%;
      display: block;
      height: auto;
   }
}
.price{
   flex-direction: column;
   padding-top: 25px;
   gap: 20px;
}
.btn-center{
   margin: 0 auto;
   display: block;
   background: #000;
   span{
      color:#fff;
   }
   &:hover{
      background: #fff;
      span{
         color:#000;
      }
   }

}
.choice-block{
   padding-top: 152px;
   padding-bottom: 155px;
   align-items: center;
   justify-content: center;
   gap: 30px;
}
.shop-kids{
   .shop-img{
      object-fit: cover;
      position: relative;
      overflow: hidden;
   }
   .txt-img{
      font-family: 'Lexend';
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 52px;
      text-align: center;
      text-decoration-line: underline;
      color: #000000;
      position: absolute;
      width: 515px;
      height: 99px;
      left: 399px;
      top: 4142px;
      z-index: 5;
   }
   .shop-btn{
      position: absolute;
      width: 179px;
      height: 54px;
      left: 551px;
      top: 4261px;
      z-index: 5;
      
   }
}
.shop-sale{
   .shop-img{
      object-fit: cover;
      position: relative;
      overflow: hidden;
   }
   .txt-img{
      position: absolute;
      width: 187px;
      height: 97px;
      left: 1111px;
      top: 4095px;
      font-family: 'Lexend';
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 52px;
      text-align: center;
      text-decoration-line: underline;
      z-index: 5;
   }
   .shop-btn{
      position: absolute;
      width: 179px;
      height: 54px;
      left: 1117px;
      top: 4261px;
      z-index: 5;
   }
}
.shop-men{
   .shop-img{
      object-fit: cover;
      position: relative;
      overflow: hidden;
   }
   .txt-img{
      position: absolute;
      width: 712px;
      height: 56px;
      left: 471px;
      top: 4605px;      
      font-family: 'Lexend';
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 52px;
      text-align: center;
      text-decoration-line: underline;     
      color: #FEFEFE;
      z-index: 5;
   }
   .shop-btn{
      position: absolute;
      width: 179px;
      height: 54px;
      left: 737px;
      top: 4795px;
      z-index: 5;
   }
}
.shop-accessories{
   .shop-img{
      object-fit: cover;
      position: relative;
      overflow: hidden;
   }
   .txt-img{
      position: absolute;
      width: 712px;
      height: 56px;
      left: 477px;
      top: 5156px;      
      font-family: 'Lexend';
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 52px;
      text-align: center;
      text-decoration-line: underline;      
      color: #FEFEFE;
      z-index: 5;
   }
   .shop-btn{
      position: absolute;
      width: 179px;
      height: 54px;
      left: 745px;
      top: 5338px;
      z-index: 5;
   }
}


//lesson slider

// #myBtn {
//    display: none;
//    position: fixed;
//    bottom: 20px;
//    right: 30px;
//    z-index: 99;
//    border: none;
//    outline: none;
//    background: red;
//    color:#fff;
//    cursor: pointer;
//    padding: 15px;
//    border-radius: 10px;
//    font-size: 18px;
//    &:hover{
//       background: #555;
//    }
// }

// .modal{
//    display: none;
//    position: fixed;
//    z-index: 1;
//    top: 0;
//    left: 0;
//    width: 100%;
//    height: 100%;
//    overflow: auto;
//    background-color: rgba(0, 0, 0, 0.4);
// }
// .modal-content{
//    background: #fefefe;
//    margin: 15%, auto;
//    padding: 20px;
//    border: 1px solid #888;
//    width: 80%;
// }
// .close{
//    &:hover{
//       color:#000;
//       text-decoration: none;
//       cursor: pointer;
//    }
//    &:focus{
//       color:#000;
//       text-decoration: none;
//       cursor: pointer; 
//    }
// }

// .slideshow-container {
//    max-width: 1000px;
//    pointer-events: revert;
//    margin: auto;
// }

// .mySlides {
//    display: none;
// }

// .prev, .next {
//    cursor: pointer;
//    position: absolute;
//    top: 50%;
//    width: auto;
//    margin-top: -22px;
//    padding: 16px;
//    color: #fff;
//    font-weight: 900;
//    font-size: 18px;
//    transition: 0.6s ease;
//    border-radius: 0 3px 3px 0;
//    user-select: none;
// }

// .next {
//    right: 0;
//    border-radius: 3px 0 0 3px;
// }

// .prev:hover, .next:hover {
//    background-color: rgba(0,0,0,0.8);
// }

// .text {
//    color: #f2f2f2;
//    font-size: 15px;
//    padding: 8px 12px;
//    position: absolute;
//    bottom: 8px;
//    width: 100%;
//    text-align: center;
// }

// .numbertext {
//    color: #f2f2f2;
//    font-size: 12px;
//    padding: 8px 12px;
//    position: absolute;
//    top: 0;
// }

// .dot {
//    cursor: pointer;
//    height: 15px;
//    width: 15px;
//    margin: 0 2px;
//    background-color: #bbb;
//    border-radius: 50%;
//    display: inline-block;
//    transition: background-color 0.6s ease;
// }

// .active, .dot:hover {
//    background-color: #717171;
// }

// .fade {
//    animation-name: fade;
//    animation-duration: 1.5s;
// }

// @keyframes fade {
//    from {opacity: .4}
//    to {opacity: 1}
// }